@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #43291f;
  color: #070600;
  font-family: "Josefin Sans", sans-serif;
}

button:hover {
  cursor: pointer;
  filter: brightness(120%);
}
button:active {
  cursor: pointer;
  filter: brightness(80%);
}

/* !! todo app */

.todo-app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
}

/* !! form component */

.form {
  background-color: #f4f0bb;
  padding: 1rem;
  margin: 2rem;
  border-radius: 0.5rem;
}

.header {
  margin-bottom: 3rem;
}
.header > h2 {
  margin-bottom: 1rem;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: #ff9b71;
  margin-left: 2rem;
  margin-right: auto;
}

.alert {
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
  margin-bottom: 0.75rem;
  width: fit-content;
}
.alert-success {
  background: #02a01c;
  color: #f4f0bb;
}
.alert-warn {
  background: #a01a02;
  color: #f4f0bb;
}

.input {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #f8c0a8;
  border-radius: 0.5rem;
  border: 1px solid #42291f;
  box-sizing: border-box;
}
.error {
  border: 3px solid #a01a02;
  outline: none;
}

.form > select {
  border-radius: 0.25rem;
  background-color: #f8c0a8;
  color: #42291f;
}

.btn {
  background-color: #ff9b71;
  border: none;
  color: #444644;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 7rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
}

/* !! todo component */

.todos-container {
  background-color: #f4f0bb;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 80vw;
  border-radius: 0.5rem;
  font-size: 1.25rem;
}

.top {
  padding-bottom: 1rem;
  border-bottom: 2px solid #42291f;
}

.cats-container {
  background: #42291f;
  padding: 1rem;
  border-radius: 0.75rem;
}

.cat {
  background-color: #43291f;
  color: #ff9b71;
  border: 1px solid #ff9b71;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  font-weight: 700;
  border-radius: 0.25rem;
}

.cat-underline {
  width: 5rem;
  height: 0.25rem;
  border: 1px solid #ff9b71;
  margin-left: 2rem;
  margin-right: auto;
}

.active > .cat {
  background-color: #ff9b71;
  color: #43291f;
}
.active > .cat-underline {
  background-color: #ff9b71;
}

.clr-btn {
  margin-right: auto;
  margin-left: 1rem;
}
.clicked {
  background-color: #43291f;
  color: #ff9b71;
  border: 1px solid #ff9b71;
}

.confirm-delete {
  justify-self: center;
  align-self: center;
  color: #43291f;
  background-color: #f4f0bb;
  border-radius: 0.75rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-weight: 700;
}

.yes {
  background: transparent;
  border: none;
  color: #02a01c;
  font-size: 1.75rem;
  width: fit-content;
}

.no {
  background: transparent;
  border: none;
  color: #a01a02;
  font-size: 1.75rem;
}

.task-container {
  display: flex;
  flex-direction: column;
}

.tasks {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #ff9b71;
  border-radius: 2rem;
  word-wrap: break-word;
  margin: 2rem 0.5rem;
}

.title {
  margin-bottom: 1.5rem;
  padding: 10px;
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-height: 1.5rem;
}

.finished {
  background-color: #f8c0a8;
  color: hsl(120, 1%, 57%);
}
.finished > header {
  text-decoration: line-through;
}
.finished > .confirm-delete {
  background-color: #f1eeb9;
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  margin-right: auto;
}

.icons-container > button {
  background-color: inherit;
  border: none;
  font-size: 1.5rem;
}

.finishedIcon {
  color: #070600;
}
.hideIcon {
  display: none;
}
.delete {
  margin-left: auto;
  margin-right: 5rem;
}
.unfinishedIcon {
  color: hsl(120, 2%, 32%);
}

.separator {
  width: 45vw;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: #43291f;
  align-self: flex-end;
}
